<!doctype html>
<html>
	<head>
		<title>Poker Crusade</title>
	</head>
	<body>
		<h1>Login</h1>
		<% if (message.length > 0) { %>
			<p><%- message %></p>
		<% } %>
		<form action="/login" method="POST">
			<p>
				<label for="email">Email</label> <input type="text" id="email" name="email" value="a@a.com" placeholder="user@domain.com"/>
			</p>
			<p>
				<label for="password">Password</label> <input type="password" id="password" value="test" name="password" placeholder="Password"/>
			</p>
			<p><input type="submit" value="Login"/></p>
		</form>

		<p><a href="/join">Sign up</a></p>

		<script src="/external/socket.io.js"></script>
		<script>
		var socket = io('http://localhost:8000');
		socket.on('connect', function() {
			console.log('connected');
		});
		socket.on('user-disconnect', function() {
			console.log('someone disconnected');
		});
		</script>
	</body>
</html>